<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <script src="../js/adapt.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../node_modules/mint-ui/lib/style.css">
    <link rel="stylesheet" href="../css/product_detail.css">
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_694915_0zjez76evbvb1emi.css"> -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <header>
            <a href="http://navi_back" class="arrow_left"></a>
            <div class="header_tab">
                <a class="tab-item active" href="javascript:;">商品</a>
                <a class="tab-item" href="javascript:;">详情</a>
                <a class="tab-item" href="javascript:;">评价</a>
            </div>
        </header>
        <div class="content content1">
            <img :src="goods_info.goods_img" alt="">
            <div class="buy_limit" v-if="Number(goods_info.is_on_sale)">
                <div class="price">
                    <div class="price_left">
                        <p>￥
                            <span>{{goods_info.shop_price}}</span>
                        </p>
                        <del>￥{{goods_info.market_price}}</del>
                        <div class="box">
                            <p>合作</p>
                        </div>
                    </div>
                    <div class="time_right">
                        <div class="hour" ref="hour"></div>
                        <div class="min" ref="min"></div>
                        <div class="sec" ref="sec"></div>
                    </div>
                </div>
                <div class="spec">
                    <div class="spec_left">
                        <p class="spec_left_content">
                            {{goods_info.goods_name}}
                        </p>
                    </div>
                    <div class="spec_right">
                        <img src="../images/transparent_heart.png" v-show="follow" @click="follow=!follow" alt="">
                        <img src="../images/red_heart.png" v-show="!follow" @click="follow=!follow" alt="">
                        <p>关注</p>
                    </div>
                </div>
            </div>
            <div class="buy_normal" v-if="!Number(goods_info.is_on_sale)">
                <div class="spec">
                    <div class="spec_left">
                        <p class="spec_left_content">
                            {{goods_info.goods_name}}
                        </p>
                    </div>
                    <div class="spec_right">
                        <img src="../images/transparent_heart.png" v-show="follow" @click="follow=!follow" alt="">
                        <img src="../images/red_heart.png" v-show="!follow" @click="follow=!follow" alt="">
                        <p>关注</p>
                    </div>
                </div>
                <div class="normal_price">
                    <p>
                        <span>￥</span>{{goods_info.shop_price}}</p>
                    <div class="box">
                        <p>合作</p>
                    </div>
                </div>
            </div>
            <a href="javascript:;">
                <div class="num">
                    <p class="num_left">选择规格数量</p>
                    <span class="num_right"></span>
                </div>
            </a>
            <div class="evaluate">
                <a href="http://comment_list">
                    <div class="evaluate_top num">
                        <p class="num_left">店铺评价</p>
                        <span class="num_right"></span>
                        <p class="numof_evaluate">
                            <span>{{shop_comment.commentCount}}</span>条评论</p>
                    </div>
                </a>
                <div class="evaluate_bottom">
                    <div class="head">
                        <img :src="shop_comment.head_pic" alt="">
                        <p>{{shop_comment.newComment[0].user_id}}</p>
                    </div>
                    <div class="evaluate_content">
                        <p>{{shop_comment.newComment[0].content}}</p>
                    </div>
                    <div class="evaluate_date">
                        <p>{{shop_comment.newComment[0].add_time}}</p>
                    </div>
                </div>
            </div>
            <div class="product_detail">
                <img v-for="item in goods_gallery" :src="item.image_path" alt="">
            </div>
            <div class="cart">
                <div class="cart_left">
                    <div class="cart_group">
                        <a href="javascript:;">
                            <div class="message">
                                <div class="message"></div>
                                <p>私聊</p>
                            </div>
                        </a>
                        <a href="javascript:;">
                            <div class="shop">
                                <div class="store"></div>
                                <p>店铺</p>
                            </div>
                        </a>
                        <a href="./shop_cart.html">
                            <div class="cart2">
                                <div class="shop_cart1"></div>
                                <p>购物车</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cart_right" @click="cart_show = !cart_show">
                    <a href="javascript:;">加入购物车</a>
                </div>
            </div>
        </div>
        <div class="content content2">
            <div class="product_detail">
                <img v-for="item in goods_gallery" :src="item.image_path" alt="">
            </div>
            <div class="cart">
                <div class="cart_left">
                    <div class="cart_group">
                        <a href="javascript:;">
                            <div class="message">
                                <div class="message"></div>
                                <p>私聊</p>
                            </div>
                        </a>
                        <a href="javascript:;">
                            <div class="shop">
                                <div class="store"></div>
                                <p>店铺</p>
                            </div>
                        </a>
                        <a href="./shop_cart.html">
                            <div class="cart2">
                                <div class="shop_cart1"></div>
                                <p>购物车</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cart_right" @click="cart_show = !cart_show">
                    <a href="javascript:;">加入购物车</a>
                </div>
            </div>
        </div>
        <div class="content content3">
            <div class="comments">
                <div class="comments_block active" @click="getComment('all')">
                    <p>全部</p>
                    <p>({{comments.commentCount}})</p>
                </div>
                <div class="comments_block" @click="getComment('like')">
                    <p>好评</p>
                    <p>({{comments.likeCount}})</p>
                </div>
                <div class="comments_block" @click="getComment('med')">
                    <p>中评</p>
                    <p>({{comments.medCount}})</p>
                </div>
                <div class="comments_block" @click="getComment('low')">
                    <p>差评</p>
                    <p>({{comments.lowCount}})</p>
                </div>
                <div class="comments_block" @click="getComment('img')">
                    <p>晒图</p>
                    <p>({{comments.imgCount}})</p>
                </div>
            </div>
            <div class="comments_content">
                <div class="comments_content_block" v-for="item1 in comments2">
                    <div class="comments_content_top">
                        <img :src="item1.head_pic" alt="">
                        <div class="head_message">
                            <p>{{item1.user_name}}</p>
                            <img :src="item1.rank|star" alt="">
                        </div>
                        <div class="comments_date">
                            <p>{{item1.add_time}}</p>
                        </div>
                    </div>
                    <div class="comments_content_bottom">
                        <p>{{item1.content}}</p>
                    </div>
                </div>
            </div>
            <div class="cart">
                <div class="cart_left">
                    <div class="cart_group">
                        <a href="javascript:;">
                            <div class="message">
                                <div class="message"></div>
                                <p>私聊</p>
                            </div>
                        </a>
                        <a href="javascript:;">
                            <div class="shop">
                                <div class="store"></div>
                                <p>店铺</p>
                            </div>
                        </a>
                        <a href="./shop_cart.html">
                            <div class="cart2">
                                <div class="shop_cart1"></div>
                                <p>购物车</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cart_right" @click="cart_show = !cart_show">
                    <a href="javascript:;">加入购物车</a>
                </div>
            </div>
        </div>
        <div class="shop_cart" v-if="cart_show">
            <div class="shop_cart_top clearfix">
                <img src="../images/avatar.png" alt="" class="avatar">
                <div class="shop_cart_right">
                    <p>{{goods_info.goods_name}}</p>
                    <p>￥ {{goods_info.shop_price}}</p>
                    <del>￥ {{goods_info.market_price}}</del>
                    <span style="float: right;">库存:{{goods_info.storage}}</span>
                </div>
                <i class="close_cart" @click="cart_show=!cart_show"></i>
            </div>
            <div class="shop_cart_format">
                <p>{{format_name}}</p>
                <div class="button_group">
                    <button v-for="(item,index) in format" :class="{active:item.isActived}" @click="changeActive(item,index)">{{item.item}}</button>
                </div>
            </div>
            <div class="shop_cart_sum">
                <p>数量</p>
                <div class="num_button_group">
                    <button class="reduce" :class="{active:reduceActive&&!addActive}" @click="reduce">-</button>
                    <p>{{num}}</p>
                    <button class="add" :class="{active:addActive&&!reduceActive}" @click="add">+</button>
                </div>
            </div>
            <mt-button class="sure" @click.native="goform">确定</mt-button>
        </div>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/mint-ui/lib/index.js"></script>
    <script src="../js/adapt.js"></script>
    <script src="../js/global.js"></script>
    <script>
        $(function () {
            $('.header_tab>a').click(function (e) {
                //  console.log(e);
                // console.log($(this).index());
                var index = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                console.log($('.content' + (index + 1)));
                $('.content' + (index + 1)).show().siblings('.content').hide();
            });
        })
        function countTime() {
            var date = new Date();
            var now = date.getTime();
            var endDate = new Date("2018/06/21 23:23:23");
            var end = endDate.getTime();
            var leftTime = end - now;
            if (leftTime >= 0) {
                h = toFixed(Math.floor(leftTime / 1000 / 60 / 60 % 24));
                m = toFixed(Math.floor(leftTime / 1000 / 60 % 60));
                s = toFixed(Math.floor(leftTime / 1000 % 60));
            }
            function toFixed(value) {
                if (value < 10) {
                    return '0' + value;
                } else {
                    return value;
                }
            }
            vm.$refs.hour.innerHTML = h;
            vm.$refs.min.innerHTML = m;
            vm.$refs.sec.innerHTML = s;
        }
        let vm = new Vue({
            el: "#app",
            created() {
                var goods_info = '';
                var shop_comment = '';
                var goods_gallery = '';
                var format = '';
                // var shop_id = localStorage.getItem('shop_id');
                var shop_id = GetQueryString('shop_id');
                var goods_id = GetQueryString('goods_id');
                /* 获取商品信息 */
                $.ajax({
                    url: BaseUrl + '/index.php/Api/GoodsApi/goodsDetail',
                    dataType: 'json',
                    type: 'post',
                    async: false,
                    data: {
                        'goods_id': goods_id
                    },
                    success(data) {
                        console.log(data);
                        goods_info = data.data.goods_info;
                        shop_comment = data.data.shop_comment;
                        goods_gallery = data.data.goods_gallery;
                        if (Number(goods_info.is_on_sale) == 1) {
                            setInterval(function () {
                                countTime();
                            }, 1000)
                        }
                        // format = data.data.goods_spec;
                    },
                    error(err) {
                        console.log(err);
                    }
                })
                // 获取规格
                $.ajax({
                    url: BaseUrl + '/index.php/Api/GoodsApi/goodsSpec',
                    dataType: 'json',
                    type: 'post',
                    async: false,
                    data: {
                        'goods_id': goods_id
                    },
                    success(data) {
                        // console.log(data);
                        format_name = data.data[0].item_name
                        format = data.data['0'].item_list;
                        format.forEach(item => {
                            item.isActived = false;
                            // Object.assign({},item,{isActived:false});
                        })
                        // console.log(format);
                    },
                    error(err) {
                        console.log(err);
                    }
                })
                // 获取评论条数
                ajax3 = $.ajax({
                    url: BaseUrl + '/index.php/Api/ShopApi/getCommentCount',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        shop_id: shop_id,
                        goods_id: goods_id,
                        type_id: '1'
                    },
                    success(data) {
                        console.log(data);
                        vm.comments = data.data;
                        // console.log(comments);
                    },
                    error(err) {
                        console.log(err);
                    }
                })
                $.ajax({
                    url: BaseUrl + '/index.php/Api/ShopApi/getShopComment',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        shop_id: shop_id,
                        level: 'all',
                        type_id: '1'
                    },
                    success(data) {
                        console.log(data);
                        vm.comments2 = data.data;
                        vm.comments2.forEach(item => {
                            item.head_pic = BaseUrl + item.head_pic;
                        })
                    },
                    error(err) {
                        console.log(err);
                    }
                })
                this.goods_info = goods_info;
                shop_id = goods_info.shop_id;
                localStorage.setItem('shop_id', shop_id);
                this.shop_comment = shop_comment;
                this.shop_comment.head_pic = BaseUrl + shop_comment.newComment[0].head_pic;
                this.goods_gallery = goods_gallery;
                this.format = format;
                this.format_name = format_name;
                // this.format = Object.assign({},this.format,{})
                // Vue.set(this.format,'isActived',false);
                // console.log(this.format);
            },
            data: {
                follow: true,
                shop_comment: '',
                buy_limit: '',
                /* format: [
                    { name: '规格1', isActived: false },
                    { name: '规格2', isActived: true }
                ], */
                format: '',
                cart_show: false,
                num: 1,
                reduceActive: false,
                addActive: false,
                goods_info: '',
                goods_gallery: '',
                format_name: '',
                comments: {
                },
                comments2: '',
                hout: '',
                min: '',
                sec: ''
                // format:''
            },
            filters: {
                star(val) {
                    if (val == '5') {
                        return '../images/star5.png';
                    } else if (val == '4') {
                        return '../images/star4.png';
                    } else if (val == '3') {
                        return '../images/star3.png';
                    } else if (val == '2') {
                        return '../images/star2.png';
                    } else {
                        return '../images/star1.png';
                    }
                }
            },
            methods: {
                changeActive(item, index) {
                    var token = GetQueryString('token');
                    var goods_id = GetQueryString('goods_id');
                    this.format.forEach((item1, index) => {
                        if (item1 == item) {
                            // console.log(item);
                            item1.isActived = true;
                            $.ajax({
                                url: BaseUrl + '/index.php/Api/GoodsApi/getGoodsSpecPrice',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    'goods_id': goods_id,
                                    'spec_key': item1.item_id,
                                    'token': token
                                },
                                success(data) {
                                    // console.log(data);
                                    // console.log(that);
                                    vm.goods_info.shop_price = data.data.price;
                                    vm.goods_info.storage = data.data.store_count;
                                },
                                error(err) {
                                    console.log(err);
                                }

                            })
                        } else {
                            item1.isActived = false;
                        }
                    })
                    // Vue.set(this.format, index, { name: '规格' + Number(index + 1), isActived: true });
                },
                add() {
                    if (this.num == 20) {
                        this.addActive = true;
                        return;
                    } else {
                        this.reduceActive = false;
                        this.num++;
                    }
                },
                reduce() {
                    if (this.num == 1) {
                        this.reduceActive = true;
                        return;
                    } else {
                        this.addActive = false;
                        this.num--;
                    }
                },
                getComment(val) {
                    // var shop_id = localStorage.getItem('shop_id');
                    var shop_id = GetQueryString('shop_id');
                    $.ajax({
                        url: BaseUrl + '/index.php/Api/ShopApi/getShopComment',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            shop_id: shop_id,
                            level: val,
                            type_id: '1'
                        },
                        success(data) {
                            console.log(data);
                            vm.comments2 = data.data;
                            vm.comments2.forEach(item => {
                                item.head_pic = BaseUrl + item.head_pic;
                            })
                        },
                        error(err) {
                            console.log(err);
                        }
                    })
                },
                goform() {
                    var token = GetQueryString('token');
                    var goods_id = GetQueryString('goods_id');
                    var a = '';
                    a = this.format.every(item => {
                        return item.isActived == false;
                    });

                    if (a) {
                        console.log(this);
                        this.$toast({
                            message: '请至少选择一种规格',
                            position: 'bottom',
                            duration: 1000
                        });
                        // alert(123);
                    } else {
                        var spec_key = '';
                        this.format.forEach(item => {
                            if (item.isActived) {
                                spec_key = item.item_id;
                            }
                        })
                        ajax1 = $.ajax({
                            url: BaseUrl + '/index.php/Api/CartApi/addCart',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                token: token,
                                goods_id: goods_id,
                                spec_key: spec_key,
                                buy_number: vm.num
                            },
                            success(data) {
                                console.log(data);
                                vm.$toast({
                                    message: data.info,
                                    position: 'bottom',
                                    duration: 1000
                                })
                            },
                            error(err) {
                                console.log(err);
                            }
                        })
                        $.when(ajax1).done(function () {
                            window.location.href = './shop_cart.html';
                        })
                        this.cart_show = !this.cart_show;
                    }
                }
            }
        })
        $(function () {
            $('.comments_block').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
        })
    </script>
</body>

</html>