<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../node_modules/mint-ui/lib/style.css">
    <link rel="stylesheet" href="../css/order_form.css">
    <link rel="stylesheet" href="../css/shop_cart.css">
</head>

<body>
    <div id="app">
        <mt-header fixed title="购物车">
            <mt-button slot="right" v-show="edit" @click="edit = !edit">编辑</mt-button>
            <mt-button slot="right" v-show="!edit" @click="edit=!edit">取消</mt-button>
        </mt-header>
        <div class="page_center">
            <div class="header_top" v-for="(item,index) in products_shop">
                <mt-cell :title="item.shop_name">
                    <img class="house" src="../images/house.png" slot="icon" width="16" height="16" alt="">
                </mt-cell>
                <mt-cell-swipe v-for="(item1,index) in item.goods_list" title="" :right="[
                {
                    content:'删除',
                    style:{background:'#F74443',color:'#fff'},
                    handler(){remove(item1,index)}
                   }
                ] ">
                    <div class="order_panel">
                        <div class="checkbox_group">
                            <input type="checkbox" class="truly_checkbox" @change="checkOne" v-model="item1.is_selected">
                            <span class="false_checkbox"></span>
                        </div>
                        <img :src="item1.goods_img" alt="">
                        <div class="panel_right">
                            <p>{{item1.goods_name}}</p>
                            <p class="format">{{item1.goods_spec}}</p>
                            <p class="price">￥{{item1.price}}</p>
                            <p class="num" v-show="edit">×{{item1.buy_number_int}}</p>
                            <p class="scaler" v-show="!edit">
                                <button class="reduce" @click="reduce(item1)">-</button>
                                <input type="number" :value="item1.buy_number_int">
                                <button class="add" @click="add(item1)">+</button>
                            </p>
                        </div>
                    </div>
                </mt-cell-swipe>
            </div>
        </div>
        <div class="all_checkbox">
            <div class="checkbox_group">
                <input type="checkbox" id="checkAll" class="truly_checkbox" v-model="checkAll2" @change="checkAll">
                <span class="false_checkbox"></span>
                <label for="checkAll">全选</label>
            </div>
            <p>合计:￥{{price_all}}</p>
            <button @click="balance">去结算</button>
        </div>
        <mt-tabbar v-model="selected">
            <mt-tab-item id="首页">
                <img src="../images/tab_icon1.png" width="20" height="20" alt="" slot="icon"> 首页
            </mt-tab-item>
            <mt-tab-item id="服务1">
                <img src="../images/tab_icon2.png" width="20" height="20" alt="" slot="icon"> 服务
            </mt-tab-item>
            <mt-tab-item id="服务2">
                <img src="../images/tab_icon3.png" width="20" height="20" alt="" slot="icon"> 服务
            </mt-tab-item>
            <mt-tab-item id="购物车">
                <img src="../images/tab_icon4.png" width="20" height="20" alt="" slot="icon"> 购物车
            </mt-tab-item>
            <mt-tab-item id="我的">
                <img src="../images/tab_icon5.png" width="20" height="20" alt="" slot="icon"> 我的
            </mt-tab-item>
        </mt-tabbar>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/mint-ui/lib/index.js"></script>
    <script src="../js/global.js"></script>
    <script>
        /* var mixin = {
            methods:{
                aa(val){
                    return val=='1'?1:0;
                }
            }
        } */
        let vm = new Vue({
            el: "#app",
            // mixins:[mixin],
            created() {
                $.ajax({
                    url: BaseUrl + '/index.php/Api/CartApi/getCartList',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'token': '447879569860480420'
                    },
                    success(data) {
                        console.log(data);
                        vm.products_shop = data.data;
                        vm.products_shop.forEach(item=>{
                            item['goods_list'].forEach(item=>{
                                item.is_selected = 0;
                            })
                        })
                    },
                    error(err) {
                        console.log(err);
                    }
                })
            },
            data: {
                selected: '购物车',
                /* products: [
                    { id: 1, title: '小伟墙材', avatar: '../images/house2.png', avatar2: '../images/panel_img.png', content: '聚酯纤维吸音板隔音材料幼儿园装饰艺术吸 声板琴房 常熟吸音板1', format: '蓝色30mm', price: 11.50, num: 5, isSelected: false },
                    { id: 2, title: '小伟墙材', avatar: '../images/house2.png', avatar2: '../images/panel_img.png', content: '聚酯纤维吸音板隔音材料幼儿园装饰艺术吸 声板琴房 常熟吸音板2', format: '蓝色30mm', price: 11.50, num: 5, isSelected: false },
                    { id: 3, title: '小伟墙材', avatar: '../images/house2.png', avatar2: '../images/panel_img.png', content: '聚酯纤维吸音板隔音材料幼儿园装饰艺术吸 声板琴房 常熟吸音板3', format: '蓝色30mm', price: 11.50, num: 5, isSelected: false }
                ], */
                edit: true,
                checkAll2: false,
                products_shop: '',
            },
            computed: {
                price_all() {
                    /* return this.products.reduce((prev, next) => {
                        if (!next.isSelected) return prev;
                        return prev + next.price * next.num
                    }, 0) */
                    // this.products_shop.filter(item=>{
                    /* item.goods_list.reduce((prev,next)=>{
                        return prev + next.buy_number * next.price;
                    }) */
                    // })
                    var price_all1 = 0;
                    for (let i = 0; i < this.products_shop.length; i++) {
                        /* this.products_shop[i]['goods_list'].reduce((prev, next) => {
                            if (next.is_selected == '1') {
                                price_all1+= prev + next.buy_number_int * Number(next.price);
                            } else {
                                return;
                            }
                        }, 0) */
                        this.products_shop[i]['goods_list'].forEach(item=>{
                            if(item.is_selected == '1'){
                                console.log(123);
                                price_all1+=item.buy_number_int*Number(item.price);
                            }
                        })
                    }
                    return price_all1.toFixed(2);
                }
            },
            methods: {
                checkAll() {
                    console.log(this.checkAll2);
                    /* this.products.forEach(item => {
                        item.isSelected = this.checkAll2;
                    }) */
                    this.products_shop.forEach(item => {
                        // console.log(item.goods_list);
                        item.goods_list.forEach(item1 => {
                            item1.is_selected = this.checkAll2;
                        })
                    })
                },
                checkOne() {
                    // this.checkAll2 = this.products.every(item => item.isSelected);
                    /* this.checkAll2 = this.products_shop.forEach(item=>{
                        console.log(item);
                    }) */
                    var select_all = ''
                    for (let i = 0; i < this.products_shop.length; i++) {
                        this.products_shop[i]['goods_list'].reduce((prev, next) => {
                            return select_all = prev + next.is_selected;
                        }, 0)
                    };
                    console.log(select_all);
                    if (select_all != '0') {
                        this.checkAll2 = true;
                    } else {
                        this.checkAll2 = false;
                    }
                    // console.log(this.checkAll2);
                },
                remove(item1, index) {
                    // console.log(index);
                    // this.products.splice(index, 1);
                    /* this.products_shop.forEach(item=>{
                        item.forEach(item2=>{
                            if(item2==item1){
                                item.splice(index,1);
                            }
                        })
                    }) */
                    console.log(item1);
                    console.log(index);
                    for (let i = 0; i < this.products_shop.length; i++) {
                        this.products_shop[i]['goods_list'].forEach(item2 => {
                            if (item2 == item1) {
                                this.products_shop[i]['goods_list'].splice(index, 1);
                                $.ajax({
                                    url:BaseUrl+'/index.php/Api/CartApi/delCartGoods',
                                    type:'post',
                                    dataType:'json',
                                    data:{
                                        'token':'447879569860480420',
                                        'cart_id':item2.cart_id
                                    },
                                    success(data){
                                        console.log(data);
                                    },
                                    error(err){
                                        console.log(err);
                                    }
                                })
                            }
                        })
                    }
                },
                reduce(item2) {
                    // Number(item);
                    /* item1 = Number(item1);
                    console.log(item1); */
                    /* vm.$nextTick(()=>{
                        if(item1 == 1){
                            return;
                        }else{
                            item1--;
                        }
                    }) */
                    // console.log(item);
                    for (let i = 0; i < this.products_shop.length; i++) {
                        this.products_shop[i]['goods_list'].forEach(item => {
                            if (item == item2) {
                                // console.log(item.buy_number_int);
                                if(item.buy_number_int!=1){
                                    item.buy_number_int--;
                                }else{
                                    return;
                                }
                            }
                        })
                    }
                },
                add(item2) {
                    // item = Number(item);
                    /*  vm.$nextTick(()=>{
                         item1++;
                     })
                     console.log(item1); */
                    // console.log($(this));
                    // $(this).prev("input[type='number']");
                    // console.log(vm.$refs.myvalue);
                    for (let i = 0; i < this.products_shop.length; i++) {
                        this.products_shop[i]['goods_list'].forEach(item => {
                            if (item == item2) {
                                // console.log(item.buy_number_int);
                                item.buy_number_int++;
                            }
                        })
                    }
                },
                balance() {
                    console.log(this.products_shop);
                    // window.location.href = "./address.html";
                },
            }

        })
        /* function aa(val){
            return val=='1'?true:false;
        } */
    </script>
</body>

</html>